/* personal resets */
html {
  box-sizing: border-box;
  font-size: 16px;
  --gunmetal: #213131ff;
  --vanilla: #ece4b7ff;
  --coquelicot: #ff4a1cff;
  --raisin-black: #171a26ff;
  --light-sea-green: #07beb8ff;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* debugging */
* {
  outline: 1px solid grey;
}
